apiVersion: v1
kind: Secret
metadata:
  name: gotagnews-secret
type: Opaque
data:
  MONGODB_URI: ${ENCODED_MONGODB_URI}
  LINE_CHANNEL_SECRET: ${ENCODED_LINE_CHANNEL_SECRET}
  LINE_CHANNEL_TOKEN: ${ENCODED_LINE_CHANNEL_TOKEN}
